/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~spoqa-han-sans/css/SpoqaHanSans-kr.css';

@import '~antd/dist/antd.css';

html,
body {
  position: relative;

  /* height: 100%; */
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: black;

  /* color: white; */
  background-color: #f7f7f7;

  /* background-image: linear-gradient(45deg, rgba(0, 216, 255, 0.5) 10%, rgba(0, 1, 127, 0.7)); */
  font-family: 'Spoqa Han Sans', Arial, Helvetica, Helvetica Neue, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f180;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.35);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.25);
}
